<?xml version="1.0" encoding="utf-8"?>
<plugin 
	xmlns="http://www.phonegap.com/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android" 
	id="cordova-plugin-file" 
	version="1.0.0"
>	
	<name>File</name>
	<author>Mboss.</author>
	<preference name="PACKAGE" />
	<js-module src="www/file.js" name="File">
		<clobbers target="file" />
	</js-module>

	<platform name="android">
		<source-file src="src/android/FilePlugin.java" target-dir="src/site/mboss/cordova" />
		<config-file target="config.xml" parent="/*">
			<feature name="File">
				<param name="android-package" value="site.mboss.cordova.File" />
			</feature>
			<preference name="WECHATAPPID" value="$WECHATAPPID"/>
		</config-file>
	</platform>

	<platform name="ios">
		<source-file src="src/ios/FilePlugin.swift" />
		<dependency id="cordova-plugin-add-swift-support" version="*" />

		<config-file target="config.xml" parent="/*">
			<feature name="File">
				<param name="ios-package" value="File" />
			</feature>
			<preference name="WECHATAPPID" value="$WECHATAPPID"/>
		</config-file>
	</platform>
</plugin>
